InheritParentConfig: true
# EraVM local begin
Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-narrowing-conversions,
    cert-*,
    clang-analyzer-*,
    -clang-analyzer-optin.cplusplus.UninitializedObject,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-union-access,
    hicpp-*,
    -hicpp-avoid-c-arrays,
    -hicpp-braces-around-statements,
    -hicpp-named-parameter,
    -hicpp-signed-bitwise,
    -hicpp-use-auto,
    -llvm-qualified-auto,
    -misc-const-correctness,
    -misc-use-anonymous-namespace,
    performance-*,
    portability-*,
    readability-*,
    -readability-braces-around-statements,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length,
    -readability-identifier-naming,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-simplify-boolean-expr,


CheckOptions:
  - key: concurrency-mt-unsafe.FunctionSet
    value: posix
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true


WarningsAsErrors: '*'
# EraVM local end
