name: Integration tests

on:
  pull_request:
  workflow_dispatch:
    inputs:
      compiler_tester_branch:
        description: "compiler-tester branch"
        required: true
        default: "main"
      compiler_llvm_branch:
        description: "compiler-llvm branch"
        required: true
        default: "main"

concurrency:
  group: ${{ github.repository_id }}-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  # Check for secrets leak in the repository
  secrets-scanner:
    uses: matter-labs/era-compiler-ci/.github/workflows/secrets-scanner.yaml@v1
    secrets: inherit

  # Integration tests workflow call from the era-compiler-ci repository
  # This is a common part of the integration tests workflow for all repositories
  # If you would like to make a change to the integration tests workflow, please do it in the era-compiler-ci repository
  integration-tests:
    uses: matter-labs/era-compiler-ci/.github/workflows/integration-tests.yaml@v1
    secrets: inherit
    with:
      compiler-tester-ref: ${{ github.event.inputs.compiler_tester_branch || 'main' }}
      llvm-ref: ${{ github.event.inputs.compiler_llvm_branch || github.head_ref || github.event.repository.default_branch }}
      ccache-key-type: 'static' # rotate ccache key every month
      compiler-llvm-repo: ${{ github.event.pull_request.head.repo.full_name }} # required to properly test forks
