name: LLVM build cache

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  llvm_build_cache:
    # Workaround. This job will only run if the PR has been merged
    if: github.event.pull_request.merged == true
    runs-on: [self-hosted, CI-worker]
    steps:
    - uses: AutoModality/action-clean@v1.1.0
    - name: Preparing workspace. Setting environment.
      run: |
        echo "COMPOSE_FILE=${{github.workspace}}/compiler-llvm/infra/docker-compose.yml" >> $GITHUB_ENV
        echo "COMPOSE_PROJECT_NAME=llvm_testing" >> $GITHUB_ENV
        echo "DOCKER_CMD=docker-compose exec -T zk" >> $GITHUB_ENV

    - name: Preparing workspace. Checkout compiler-llvm repository.
      uses: actions/checkout@v2
      with:
        path: compiler-llvm

    - name: Preparing workspace. Start docker.
      run: |
        docker-compose pull
        docker-compose up -d zk

    - name: Testing. Building LLVM framework.
      run: |
        chmod +x compiler-llvm/build.sh
        ${DOCKER_CMD} sh -c "cd compiler-llvm && ./build.sh release"

    - name: Save llvm build cache on used host.
      run: |
        rm -rf ~/llvm_build_release_cache
        mv ${{github.workspace}}/compiler-llvm/build-release ~/llvm_build_release_cache

    - name: Notify to Mattermost (on unsuccessful deploys)
      if: failure() || cancelled()
      uses: tferreira/matterfy@releases/v1
      with:
        type: ${{ job.status }}
        job_name: '*Save LLVM build is failed*'
        icon_emoji: octocat
        channel: 'compiler-llvm-ci'
        url: ${{ secrets.MATTERMOST_WEBHOOK }}

    - name: Clearing workspace. Removing used and trash docker images.
      if: always()
      run: |
        # Removing trash images. This command isn't remove pulled work image.
        docker image prune -f --all
        docker-compose down --rmi local -v
